@media (min-width: 600px) {
    .leftside-bar {
        display: flex;
        padding: 30px;
        flex-direction: row;
    }
}



nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  .li {

    margin-bottom: 30px;
  }

  .leftside-bar {
    font-size: 20px;
    position: fixed;
    width: 281px; 
    top: 100px;
    left: 0;
    height: 100vh; /* Full viewport height */
  }

 .leftside-bar a {
    color: black; /* Set link color to black */
    text-decoration: none; /* Remove underline from links */
    cursor: pointer;
  }